/* common */
body { font-size: 14px; font-family: 'cjone'; letter-spacing: -1px; } 

a { color: #ccc; text-decoration: none; } 

@media screen and (min-width: 1025px) {
 /* layout */
 #header { z-index: 60; position: relative; width: 100%; height: 120px; } 

 .header_wrap { position: absolute; left: 0; width: 100%; height: 120px; background: url(../images/bg_header.png)repeat-x 0 0; } 

 .header_inner { position: relative; width: 96%; min-width: 968px; height: 120px; margin: 0 auto; } 

 .srch { position: absolute; left: 0; top: 120px; width: 100%; } 

 .banner { z-index: 30; position: relative; width: 100%; min-width: 1024px; height: 550px; overflow: hidden;} 

 #container { width: 100%; } 

 .content1 { width: 100%; background: #fff; overflow: hidden; } 

 .content2 { position: relative; width: 100%; height: 1730px; background: rgb(240, 251, 255) url(../img/bg_hotcontent.png)no-repeat 50% 100%; background-size: cover; } 

 .content2_inner { z-index: 2; position: relative; width: 1060px; min-width: 1060px; height: 100%; margin: 0 auto;} 

 .circle_wrap { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url(../images/bg_hotcontent.png) no-repeat 0 0; background-size: cover; } 

 .content3 { width: 100%; background: #fff; padding: 70px 0 80px; } 

 .content3_inner { width: 1060px; margin: 0 auto;  } 

 #footer { position: relative; width: 100%; height: 240px; background: #222; color: #777; text-align: center; letter-spacing: 1px; } 

 .footer_inner { width: 96%; min-width: 986px; margin: 0 auto; padding-top: 40px; } 

}



@media screen and (max-width:1024px) and (min-width:769px) {
 
 #header { z-index: 60; position: relative; width: 100%; height: 120px; } 

 .header_wrap { position: absolute; left: 0; width: 100%; height: 120px; background: url(../images/bg_header.png)repeat-x 0 0; } 

 .header_inner { position: relative; width: 96%; min-width: 968px; height: 120px; margin: 0 auto; } 

 .srch { position: absolute; left: 0; top: 120px; width: 100%; } 

 .banner { z-index: 30; position: relative; width: 100%; min-width: 1024px; height: 550px; } 

 #container { width: 100%; } 

 .content1 { width: 100%; background: #fff; overflow: hidden; } 

 .content2 { position: relative; width: 100%; height: 1730px; background: rgb(240, 251, 255) url(../img/bg_hotcontent.png)no-repeat 50% 100%; background-size: cover; } 

 .content2_inner { z-index: 2; position: relative; width: 1060px; min-width: 1060px; height: 100%; margin: 0 auto;} 

 .circle_wrap { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url(../images/bg_hotcontent.png) no-repeat 0 0; background-size: cover; } 

 .content3 { width: 100%; background: #fff; padding: 70px 0 80px; } 

 .content3_inner { width: 1060px; margin: 0 auto; } 

 #footer { position: relative; width: 100%; height: 240px; background: #222; color: #777; text-align: center; letter-spacing: 1px; } 

 .footer_inner { width: 96%; min-width: 986px; margin: 0 auto; padding-top: 40px; } 

}


@media screen and (max-width:768px) {
 /* layout */
 #header { z-index: 60; position: relative; width: 100%; height: 54px; } 

 .header_wrap { position: absolute; left: 0; width: 100%; height: 54px; background: #222; } 

 .header_inner { position: relative; width: 100%; height: 54px; margin: 0 auto; background: #222; } 

 .srch { position: absolute; left: 0; top: 54px; width: 100%; } 

 .banner { z-index: 30; position: relative; width: 100%; height: 550px; background-size: cover; overflow: hidden; } 

 #container { width: 100%; } 

 .content1 { width: 100%; background: #fff; overflow: hidden; } 

 .content2 { position: relative; width: 100%; height: 100%; background: rgb(240, 251, 255) url(../img/bg_hotcontent.png)no-repeat 50% 100%; background-size: cover; } 

 .content2_inner { z-index: 2; position: relative; width: 100%; min-width: 100%; height: 100%; margin: 0 auto}

 .circle_wrap { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url(../images/bg_hotcontent.png) no-repeat 0 0; background-size: cover; } 

 .content3 { width: 100%; background: #fff; padding: 70px 0 80px; } 

 .content3_inner { width: 100%; margin: 0 auto; } 

 #footer { position: relative; width: 100%;background: #222; color: #777; text-align: center; letter-spacing: 1px; } 

 .footer_inner { width: 100%; min-width: 100%; margin: 0 auto; padding-top: 40px; } 
}

